{
  "live": {
    "debug":true,
    "bot_token":"abcdefghijklmnopqrstuvwxyz",
    "rconip":"1.2.3.4.",
    "rconport":9100,
    "rconpass":"supersecretrconpassword",
    "mysqlhost":"1.2.3.4",
    "mysqlport":3306,
    "mysqldatabase":"mysqldatabase",
    "mysqluser":"mysqluser",
    "mysqlpass":"supersecretmysqlpassword",
    "guild-id":"1234567890123456789",
    "senate-cmds":[
      "!writeas",
      "!unregister"
    ],
    "senate-member":[
      "1234678901234567890"
    ],
    "bot-channel-ids":{
      "name-of-my-fancy-channel":"1234678901234567890"
    },
    "logfile_path":"/home/steam/pavlovserver/Pavlov/Saved/Logs/Pavlov.log"
  }
}
