[Unit]
Description=spqr-servus-publicus

[Service]
Type=simple
WorkingDirectory=/home/spqr/spqr-servus-publicus
ExecStart=/usr/bin/python3 main.py
RestartSec=1
Restart=always
User=spqr
Group=spqr

[Install]
WantedBy = multi-user.target
